<h1>New game</h1>

<p>Letters:</p>
<p><%= @letters.join(' ') %></p>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Enter your word" value="<%= params[:word] %>">
  <input type="submit" value="Submit!">
</form>
